#about{
    background: #fff;
    padding: 2em;
}
#about .social-link {
    font-size: 1.8em;
}
#profilephoto{
    max-height: 15em;
    margin:auto;
}
/* Pure CSS Animated Mouse Scroll Icon by Deepak K Vijayan https://codepen.io/2xsamurai/pen/WwmjKQ */
.scroll-downs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
    width :136px;
    height: 55px;
  }
  .mousey {
    margin: 1em 3em;
    width: 3px;
    padding: 8px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }
