#skill{
    background: rgba(255, 255, 255, 0.7);
}
#skill .skill-icon{
    font-size: 3em;
    margin: auto;
}
#experience{
    background: rgba(0, 0, 0, 0.5);
}
#experience .card-body{
    border-left: 5px solid #4285F4;
}